* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.w {
  width: 980px;
  margin: 0 auto;
}

.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: '.';
  height: 0;
}

.clearfix {
  *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
