body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  padding: 0 50px 0 30px;
  font-size: 12px;
  color: #999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 760px;
}
.top .main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  padding: 0 50px 0 30px;
  font-size: 12px;
  color: #999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 760px;
}
.top .main .logo {
  width: 218px;
  height: 70px;
}
.top .main .logo .imgs {
  width: 24px;
  margin-top: 20px;
  font-weight: 400;
}
.top .main .logo .textt {
  position: absolute;
  width: 117px;
  height: 20px;
  font-size: 17px;
  font-weight: 600;
  margin-left: 36px;
  margin-top: -28px;
  color: rgba(221, 0, 27);
}
.top .main .logo .texts {
  position: absolute;
  width: 117px;
  height: 20px;
  font-size: 17px;
  font-weight: 400;
  margin-left: 134px;
  margin-top: -28px;
  padding-left: 10px;
  color: rgba(162, 162, 162);
  border-left: 2px solid rgba(162, 162, 162);
}
#wrap {
  overflow: hidden;
  *zoom: 1;
}
#wrap #sidebar {
  float: left;
  width: 300px;
  height: 1600px;
  position: fixed;
  top: 50px;
  left: 0;
}
#wrap #sidebar #content,
#wrap #sidebar #sidebar {
  color: #eee;
}
#wrap #sidebar .btn {
  position: relative;
  right: 11px;
  margin: 42px 41px 0px;
  width: 77.8%;
  height: 44px;
  border-radius: 25px;
  background-color: #dd001b;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  outline: none;
}
#wrap #sidebar .zonghe {
  padding-left: 128px;
  padding-bottom: 0;
  margin-bottom: -20px;
  margin-top: 32px;
}
#wrap #sidebar .zonghe h2 {
  position: relative;
  display: inline-block;
  line-height: 25px;
  margin-top: 11px;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 20px;
  color: #333;
}
#wrap #sidebar .index__ithover {
  width: 264.4px;
  height: 38px;
  background-color: #ff0;
}
#wrap #sidebar ul li {
  width: 300px;
  height: 38px;
  margin-left: -40px;
}
#wrap #sidebar .m {
  width: 300px;
  margin-left: 12px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 3;
  text-align: center;
}
#wrap .m:hover {
  background: #ccc;
}
#wrap #content {
  margin-left: 310px;
  height: 100%;
  margin-top: 50px;
}
ul,
li {
  list-style-type: none;
}
body {
  font: 12px/180% Arial, Helvetica, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #3366cc;
  text-decoration: underline;
}
.demopage {
  width: 730px;
  margin: 0 auto;
}
.demopage h2 {
  font-size: 14px;
  margin: 20px 0;
}
/* scrollDiv */
.scrollDiv {
  height: 25px;
  /* 必要元素 */
  line-height: 25px;
  border: #ccc 1px solid;
  overflow: hidden;
  /* 必要元素 */
}
.scrollDiv li {
  height: 25px;
  padding-left: 10px;
}
#s2,
#s3 {
  height: 100px;
}
.current {
  color: #f00;
}
#box {
  margin-top: 30px;
  width: 100%;
  height: 100%;
}
#box .box-shouye {
  width: 1128px;
  height: 1800px;
  margin: 0 auto;
}
#box .box-shouye .demopage {
  width: 1128px;
  height: 80px;
  background-color: #fff;
}
#box .box-shouye .demopage .scrollDiv {
  font-size: 16px;
}
#box .box-shouye .demopage2 {
  position: relative;
  width: 1128px;
  height: 1068px;
  margin: 20px 0;
}
#box .box-shouye .demopage2 .logo1 {
  width: 90px;
  height: 90px;
}
#box .box-shouye .demopage2 .logo1 img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: contain;
}
#box .box-shouye .demopage2 .numen {
  position: absolute;
  right: 713px;
  bottom: 60px;
  top: 35px;
  width: 300px;
  height: 30px;
  font-size: 22px;
}
#box .box-shouye .demopage2 .zzz {
  position: absolute;
  top: 352px;
  left: 325px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 8px solid rgba(241, 235, 235, 0.5);
  background-color: #fff;
}
#box .box-shouye .demopage2 .yyy {
  position: absolute;
  right: 345px;
  top: 355px;
  width: 170px;
  height: 170px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #fff;
  padding-top: 50px;
  border: 8px solid rgba(241, 235, 235, 0.5);
}
#box .box-shouye .demopage2 .yyy p {
  text-align: center;
  line-height: 28px;
}
#box .box-shouye .btnfens {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  font-size: 16px;
  text-align: center;
  min-width: 180px;
  margin: 251px 438px;
  outline: 0;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #333;
  color: #fff;
  background-color: #333;
}
#box .box-shouye .guanli {
  width: 1068px;
  height: 140px;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  margin-top: -205px;
  background-color: #f7f7f7;
}
#box .box-shouye .guanli img {
  margin-left: 50px;
}
#box .box-shouye .guanli span {
  position: absolute;
  font-size: 14px;
  margin: 30px 30px;
}
#box .box-shouye .guanli .ship2 {
  color: red;
  font-size: 23px;
  margin-left: 115px;
}
#box .box-shouye .guanli .guanlitxt {
  margin-left: 788px;
  font-size: 15px;
}
#box .box-shouye .shuji {
  margin-top: 50px;
  overflow: hidden;
  width: 100%;
  height: 182px;
  display: flex;
  flex-wrap: wrap;
}
#box .box-shouye .shuji .gai {
  width: 212px;
  height: 160px;
  float: left;
  border-right: 1px solid #eee;
}
#box .box-shouye .shuji .gai .textw {
  position: relative;
}
#box .box-shouye .shuji .gai .textw .textw1 {
  font-size: 16px;
  line-height: 80px;
  margin-left: 50px;
}
#box .box-shouye .shuji .gai .textw .textw2 {
  font-size: 29px;
  position: absolute;
  top: 54px;
  left: 93px;
}
#box .box-shouye .lianjie {
  width: 100%;
}
#box .box-shouye .lianjie .lianjie1 {
  width: 30%;
  font-size: 15px;
  margin-left: 190px;
}
#box .box-shouye .lianjie .lianjie2 {
  width: 30%;
  font-size: 15px;
  margin-left: 232px;
}
#box .box-shouye .lianjie .lianjie3 {
  width: 30%;
  font-size: 15px;
  margin-left: 252px;
}
#box .box-shouye .chuangzuo {
  margin-top: 50px;
}
#box .box-shouye .chuangzuo .chuangzuo1 {
  width: 198px;
  height: 40px;
  color: #fff;
  margin-top: 20px;
  border: 1px solid #333;
}
#box .box-shouye .chuangzuo .chuangzuo1 li {
  display: inline-block;
  height: 40px;
  padding: 10px 20px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid #f2f2f2;
  border-right: none;
  background-color: #fff;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  position: relative;
}
#box .box-shouye .chuangzuo .chuangzuo1 li:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
#box .box-shouye .chuangzuo .chuangzuo1 .chuangzuo3 {
  margin-top: 15px;
  width: 1128px;
  height: 450px;
  margin: 56px -34px;
  border: 1px solid #ccc;
}
#box .box-shouye .chuangzuo .chuangzuo1 .chuangzuo3 img {
  margin: 182px 514px;
}
#box .box-shouye #btnns {
  position: absolute;
  margin: 474px 495px;
  border: 0;
}
#box .box-shouye #btnns .btnns {
  width: 130px;
  height: 30px;
  border-radius: 15px;
  border: 0;
  outline: none;
}
#box .ah-tab-content h2 {
  width: 100%;
  color: #333;
  text-align: center;
  font-size: 18px;
}
#box .ah-tab-content h5 {
  width: 100%;
  margin-top: 20px;
  color: #666;
  text-align: center;
  font-size: 14px;
}
#box .ah-tab-content .bbb {
  width: 73%;
  margin-top: 20px;
  color: #667;
  text-align: center;
  margin-left: 123px;
}
#box .ah-tab-content .h22 {
  font-size: 19px;
  font-weight: 400;
  color: #333;
  text-align: left;
  line-height: 25px;
  margin-bottom: 10px;
}
#box .ah-tab-content .aa {
  position: absolute;
  background-color: #ff3a3a;
  border-radius: 10px 10px 10px 0;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  color: #fff !important;
  font-size: 12px;
  padding: 0 6px;
  margin-left: 5px;
  vertical-align: top;
  top: 220px;
  left: 247px;
}
#box .ah-tab-content .pp {
  font-size: 16px;
}
#box .ah-tab-content .imgg {
  width: 800px;
  margin-left: 91px;
}
#box .ah-tab-content .butw {
  margin-top: 100px;
  cursor: not-allowed;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  font-size: 16px;
  text-align: center;
  min-width: 180px;
  margin: 0;
  outline: 0;
  font-weight: 700;
  border: 1px solid #ccc;
  color: #fff;
  background-color: #ccc;
  margin-left: 453px;
  margin-top: 50px;
}
#box .ah-tab-content .aaaa {
  position: relative;
}
#box .ah-tab-content .aaaa .aaa {
  position: absolute;
  font-size: 14px;
  color: #0c73c2 !important;
  line-height: 20px;
  margin-top: 10px;
  display: inline-block;
  left: 472px;
  top: -39px;
}
#box .htmleaf-container2 {
  margin-top: 50px;
}
#box .data {
  width: 1140px;
  height: 100%;
  padding: 101px 49px;
}
#box .data .hd {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;
  height: 100px;
  line-height: 100px;
  width: 1100px;
  background: rgba(247, 247, 247, 0.911);
  text-align: center;
  margin: 0 auto;
}
#box .data .hd .vedio {
  width: 100px;
  height: 40px;
  font-size: 21px;
  box-sizing: border-box;
  margin-left: -133px;
}
#box .data .hd .vedio .img2 {
  width: 400px;
  height: 400px;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #f0f;
}
#box .data .hd .sing {
  box-sizing: border-box;
  width: 80px;
  height: 30px;
  font-size: 21px;
  padding-left: 50px;
}
#box .data .hd .sing .sy2 {
  width: 100%;
  height: 1000px;
}
#box .data .hd .sing .sy2 .p2 {
  width: 100px;
  height: 1000px;
}
#box .zhongx {
  position: relative;
  width: 1000px;
  height: 750px;
  margin: 0 auto;
}
#box .zhongx .zhongx-tu {
  position: absolute;
  top: 223px;
  left: 399px;
}
#box .zhongx .zhongx-h2 {
  position: absolute;
  top: 419px;
  left: 244px;
  font-size: 18px;
  font-weight: 400;
}
#box .zhongx .zhongx-ul {
  position: absolute;
  font-size: 14px;
  color: #666;
  margin-left: 77px;
  top: 480px;
  left: 157px;
}
#box .zhongx .zhongx-ul li {
  margin-bottom: 17px;
  left: 279px;
  letter-spacing: 5px;
}
#box .zhongx .zhongx-ul :nth-child(2) {
  position: absolute;
  top: -2px;
  left: 279px;
}
.vedio:hover {
  cursor: pointer;
}
.sing:hover {
  cursor: pointer;
}
.img2 {
  width: 143px;
  display: block;
  margin-right: auto;
  margin-top: 100px;
  margin-left: 555px;
}
.buna {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  font-size: 16px;
  text-align: center;
  min-width: 180px;
  margin: 251px 438px;
  outline: 0;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #333;
  color: #fff;
  background-color: #333;
  margin-top: 10px;
  margin-left: 528px;
}
.sing {
  width: 100%;
  height: 100%;
  line-height: 40px;
  margin-top: 10px;
  padding-bottom: 6px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.sing .tu2 {
  margin-left: 223px;
}
.sing .tu2 img {
  width: 20%;
  margin-left: 70px;
}
.sing .fw {
  margin-left: 600px;
  font-size: 20px;
}
.sing .fw > div {
  display: inline-block;
  width: 72px;
  height: 38px;
  line-height: 38px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  margin-left: -6px;
}
.sing .sheng:hover {
  cursor: pointer;
}
.sing .bo:hover {
  cursor: pointer;
}
.bd {
  margin-left: -122px;
}
.download {
  height: 70px;
  text-align: right;
}
.download img {
  width: 20px;
  height: 20px;
}
.download h3 {
  position: relative;
  color: #fff;
  font-weight: 400;
  line-height: 70px;
  margin-right: 50px;
  cursor: pointer;
}
.rc_tooltip_inner {
  display: none;
  position: absolute;
  top: 130px;
  right: 160px;
  background-color: transparent;
  padding: 8px 10px;
  color: #333333;
  text-align: left;
  text-decoration: none;
  /* background-color: #ffffff; */
  border-radius: 3px;
  min-height: 34px;
}
.client-modal {
  padding-top: 20px;
  padding-left: 10px;
  width: 276px;
  height: 250px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  box-sizing: border-box;
}
.client-modal .btn {
  float: left;
  display: block;
  width: 113px;
  height: 45px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #333333;
  line-height: 45px;
  background: rgba(0, 0, 0, 0.08);
}
.client-modal .btn i {
  margin-left: 10px;
  display: inline-block;
}
.plfl {
  width: 1140px;
  height: 100%;
  padding: 101px 49px;
}
.plfl .pl {
  overflow: hidden;
  position: relative;
  height: 100px;
  line-height: 100px;
  width: 1100px;
  background: rgba(247, 247, 247, 0.911);
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}
.plfl .pl .quanbu {
  margin: 0 30px;
  cursor: pointer;
}
.plfl .pl .pinlun {
  cursor: pointer;
}
.plfl .fl-aa {
  font-size: 14px;
  color: #666;
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 64px;
  margin-left: 145px;
  margin-top: 277px;
}
.plfl .fl-a img {
  position: absolute;
  width: 10%;
  top: 409px;
  right: 532px;
}
.plfl .img3 {
  margin-left: 500px;
}
.plfl .fl-b {
  float: left;
  margin-left: 50px;
  font-size: 13px;
}
.plfl .fl-b .quanbu {
  width: 1100px;
  height: 550px;
  margin: 0 auto;
  margin-left: -31px;
  margin-top: 62px;
}
.plfl .fl-b .quanbu .quanbu-z {
  position: relative;
  float: left;
  width: 35%;
  height: 550px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.plfl .fl-b .quanbu .quanbu-z .quanbu-z-bg {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 20px;
  background: #eee;
  line-height: 30px;
  text-align: center;
}
.plfl .fl-b .quanbu .quanbu-y {
  float: left;
  width: 64%;
  height: 400px;
}
.plfl .fl-b .quanbu .quanbu-y .quanbu-y-bg img {
  margin-left: 243px;
  margin-top: 100px;
}
.plfl .fl-b li {
  float: left;
  width: 72px;
  height: 30px;
  margin: 0 6px;
  color: #333;
  text-align: center;
  line-height: 30px;
  background-color: #eee;
}
.plfl li:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.plfl .qian {
  width: 500px;
  height: 500px;
}
.plfl .qian .qian-bg {
  left: 100px;
  margin-left: 100px;
}
