.w {
  width: 1100px;
  margin: 0 auto;
}
.head {
  overflow: hidden;
  /* margin: 0 auto; */
  height: 70px;
}
.head .logo h1 a {
  display: block;
  background: url(../images/b-spirit-03.png) no-repeat 0 -48px;
  width: 290px;
  height: 70px;
  float: left;
}
.head .search {
  float: left;
  width: 300px;
  height: 60px;
  margin-top: 18px;
  margin-left: 324px;
  padding-top: 1px;
  background: url(../images/b-spirit-03.png) no-repeat 0 0;
}
.head .search form {
  width: 100%;
  height: 38px;
  margin-top: 12px;
  background-position: 0px 0px;
}
.head .search form input {
  border: 0;
  width: 80%;
  margin-left: 30px;
  padding-left: 5px;
}
.head .shop {
  position: relative;
  float: left;
  background-color: pink;
  background: url(../images/b-spirit-03.png) -110px -160px no-repeat;
  margin-top: 20px;
  width: 36px;
  height: 36px;
  margin-left: 40px;
}
.head .shop span {
  font-size: 16px;
  padding-left: 6px;
  color: #fff;
  width: 19px;
  height: 19px;
  position: absolute;
  background: url(../images/b-spirit-03.png) -155px -158px;
  left: 22px;
  top: -6px;
}
.head .user {
  position: relative;
  float: left;
}
.head .user img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: 38px;
  margin-top: 18px;
}
.head .user ::after {
  position: absolute;
  top: 35px;
  right: -30px;
  box-sizing: border-box;
  content: '';
  width: 14px;
  height: 14px;
  border: 7px solid transparent;
  border-top-color: #333;
}
.banner .leftArr {
  width: 37px;
  height: 63px;
  background-color: #000;
}
.banner .rightArr {
  width: 37px;
  height: 63px;
  background-color: #000;
}
.banner .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.banner .swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.banner .swiper-slide:nth-child(1) {
  background-color: #fffbbe;
}
.banner .swiper-slide:nth-child(2) {
  background-color: #f5ebe1;
}
.banner .swiper-slide:nth-child(3) {
  background-color: #1e1e1e;
}
.banner .swiper-slide:nth-child(4) {
  background-color: #4e90c2;
}
.banner .swiper-slide:nth-child(5) {
  background-color: #000000;
}
.banner .swiper-slide:nth-child(6) {
  background-color: #fffbbe;
}
.banner .swiper-slide:nth-child(7) {
  background-color: #f5ebe1;
}
.banner .swiper-slide img {
  width: 100%;
}
.banner .pointer {
  position: relative;
  z-index: 9;
  top: -294px;
}
.banner .pointer a:hover {
  color: #333;
}
.banner .pointer .left {
  position: absolute;
  z-index: 1;
  width: 37px;
  height: 63px;
  top: 0;
  background-color: #000;
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  opacity: 0.1;
  left: 12px;
}
.banner .pointer .left .jk {
  position: absolute;
  opacity: 0.8;
  background-position: 0px 0px;
  background: url(../images/b-pointlist.png) -9px -13px;
  content: '';
  left: 8px;
  top: 14px;
  width: 37px;
  height: 63px;
}
.banner .pointer .left a:hover {
  background-color: #ccc;
}
.banner .pointer .right {
  position: absolute;
  z-index: 1;
  width: 37px;
  height: 63px;
  top: 0;
  background-color: #000;
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  opacity: 0.1;
  right: 12px;
}
.banner .pointer .right .jk {
  background-position: -48px 0px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  background: url(../images/b-pointlist.png) -57px -12px;
  content: '';
  left: 8px;
  top: 14px;
  width: 37px;
  height: 63px;
}
.banner .pointer .right a:hover {
  background-color: #ccc;
}
.g-tab {
  width: 100%;
}
.g-tab .hometab {
  width: 1100px;
  margin: 0 auto;
}
.g-tab .hometab ul {
  width: 100%;
  height: 80px;
  text-align: center;
}
.g-tab .hometab ul li {
  float: left;
  width: 275px;
  height: 80px;
}
.g-tab .hometab ul li a {
  float: left;
  width: 250px;
  padding: 0 10px;
  height: 80px;
  text-align: center;
  font-size: 0;
  cursor: pointer;
}
.g-tab .hometab ul li a img {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: top;
  padding-top: 16px;
  border: 0;
}
.g-tab .hometab ul li a span {
  display: inline-block;
  max-width: 190px;
  height: 80px;
  padding-left: 12px;
  line-height: 80px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.g-tab .hometab ul li em {
  font-style: normal;
  text-align: left;
  font-size: inherit;
  display: inline-block;
  height: 48px;
  width: 1px;
  margin: 16px 0 16px 0;
  background-color: #000000;
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  opacity: 0.1;
}
.g-tab .hometab ul .tab a {
  float: left;
  width: 250px;
  padding: 0 10px;
  height: 80px;
  text-align: center;
  font-size: 0;
}
.g-tab .hometab ul .tab a .right {
  display: inline-block;
  height: 80px;
  padding-left: 8px;
  vertical-align: top;
}
.g-tab .hometab ul .tab a .right .text {
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
.g-tab .hometab ul .tab a .right .count {
  display: inline-block;
  font-size: 14px;
  color: #d33a31;
  font-weight: 100;
  line-height: 18px;
  margin-right: 2px;
  padding: 0;
}
.g-tab .hometab ul .tab a .right .jifen {
  font-weight: 100;
  display: inline-block;
  font-size: 12px;
  color: #d33a31;
  line-height: 20px;
  padding-left: 0;
}
.bd-home {
  background: #fff;
  min-height: 750px;
  width: 1100px;
  margin: 0 auto;
  min-height: 780px;
}
.bd-home .main {
  display: inline-block;
  width: 100%;
  margin: 0;
  display: block;
  margin-top: 40px;
}
.bd-home .main .subjs {
  float: left;
  width: 100%;
  height: 300px;
}
.bd-home .main .subjs .subjs-left {
  float: left;
  padding-right: 16px;
  width: 542px;
  height: 300px;
}
.bd-home .main .subjs .subjs-right {
  float: right;
  width: 542px;
  height: 300px;
}
.bd {
  width: 100%;
  position: relative;
}
.bd .wrap {
  height: 58px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  display: block;
  _position: absolute;
  left: 50%;
  margin-left: 570px;
  z-index: 98;
  width: 60px;
  height: auto;
  margin-top: 0;
  font-size: 12px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 674px;
  margin-top: 0px;
  bottom: auto;
  text-align: center;
}
.bd .hotshop {
  display: inline-block;
  margin-top: 40px;
  width: 100%;
  height: auto;
}
.bd .hotshop .shop .mid-tx {
  margin-top: 50px;
}
.bd .hotshop .shop span {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
.bd .hotshop .shop .list {
  margin-top: 16px;
  width: 100%;
}
.bd .hotshop .shop .list ul {
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.bd .hotshop .shop .list ul li:nth-child(4),
.bd .hotshop .shop .list ul li:nth-child(8),
.bd .hotshop .shop .list ul li:nth-child(12),
.bd .hotshop .shop .list ul li:nth-child(16),
.bd .hotshop .shop .list ul li:nth-child(20),
.bd .hotshop .shop .list ul li:nth-child(24) {
  padding-right: 0;
}
.bd .hotshop .shop .list ul li:nth-child(6) .bd h3 {
  overflow: hidden;
}
.bd .hotshop .shop .list ul li {
  float: left;
  position: relative;
  width: 263px;
  height: 382px;
  padding-right: 16px;
}
.bd .hotshop .shop .list ul li .lits .hd {
  width: 263px;
  height: 263px;
  background-color: #f9f9f9;
  cursor: pointer;
}
.bd .hotshop .shop .list ul li .lits .hd .redyuan {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  background-color: #d33a31;
  border-radius: 50%;
  color: #fff;
  position: absolute;
}
.bd .hotshop .shop .list ul li .lits .hd .redyuan span {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
}
.bd .hotshop .shop .list ul li .lits .hd .redyuan p {
  text-decoration: line-through;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
}
.bd .hotshop .shop .list ul li .lits .bd h3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #333;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 9px;
}
.bd .hotshop .shop .list ul li .lits .bd h3 span {
  float: left;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: -4px;
  color: #d74d45;
}
.bd .hotshop .shop .list ul li .lits .bd h3 span em {
  font-style: normal;
  text-decoration: none;
  text-align: left;
  font-size: inherit;
  border: 1px solid #d74d45;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
.bd .hotshop .shop .list ul li .lits .bd h3 .linkk {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #333;
}
.bd .hotshop .shop .list ul li .lits .bd .dollor {
  font-size: 16px;
  color: #d33a31;
}
.bd .hotshop .shop .list ul li:nth-child(n + 2) img {
  width: 263px;
  height: 263px;
}
.bd .hotshop .shop .list ul li:nth-child(2) .bd h3 span,
.bd .hotshop .shop .list ul li:nth-child(2) .bd h3 span {
  box-sizing: border-box;
  line-height: 19px;
  padding: 0 3px;
  border-radius: 1px;
  color: #d74d45;
  font-size: 12px;
  float: left;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: -4px;
}
.bd .hotshop .digable {
  float: left;
  width: 100%;
  height: 180px;
  background-color: #f9f9f9;
  cursor: pointer;
}
.bd .hotshop .digable .inner {
  display: inline-block;
  width: 700px;
  height: 180px;
  margin: 0 20px 0 60px;
}
.bd .hotshop .digable .inner span {
  display: block;
  padding-top: 28px;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}
.bd .hotshop .digable .inner span i {
  width: 36px;
  font-style: normal;
  text-align: left;
  font-size: inherit;
  height: 36px;
  position: relative;
  top: 5px;
  margin-right: 10px;
  display: inline-block;
  background: url(../images/b-digitalicon.png) no-repeat;
}
.bd .hotshop .digable .inner p {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  position: relative;
  margin-top: 9px;
  margin-bottom: 18px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.bd .hotshop .digable .inner p a {
  text-decoration: none;
}
.bd .hotshop .digable .inner .buy {
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.bd .hotshop .digable .covers {
  position: relative;
  margin-top: 30px;
  margin-right: 50px;
  width: 210px;
  height: 120px;
  float: right;
}
.bd .hotshop .digable .covers .sml {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100px;
  height: 100px;
}
.bd .hotshop .digable .covers .big {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 60px;
  width: 120px;
  height: 120px;
}
.bd .hotshop .digable .covers .circle {
  position: absolute;
  top: 0;
  left: 175px;
  width: 35px;
  height: 120px;
  border: none;
  background: url(../images/b-pointlistAAAA.png);
  background-position: 0px -73px;
}
.footer {
  float: left;
  width: 100%;
  height: 160px;
  margin: 0 auto;
  background: #f2f2f2;
}
.footer .wrap {
  color: #666;
  display: inline-block;
  width: 1100px;
  height: 100%;
}
.footer .wrap .copy {
  color: #666;
  display: inline-block;
  width: 590px;
  height: 142px;
  padding-top: 22px;
  line-height: 24px;
}
.footer .wrap .copy .fir {
  color: #666;
  width: 590px;
  height: 24px;
  float: left;
  line-height: 24px;
}
.footer .wrap .copy .fir a {
  color: #666;
  font-size: 12px;
  float: left;
  color: #999;
  line-height: 24px;
  text-decoration: none;
}
.footer .wrap .copy .fir span {
  color: #666;
  margin: 0 8px 0 10px;
  color: #c2c2c2;
}
.footer .wrap .copy .h3c {
  color: #666;
  width: 590px;
  height: 24px;
  float: left;
  line-height: 24px;
}
.footer .wrap .copy .h3c a {
  color: #666;
  float: right;
  padding-right: 133px;
}
.footer .wrap .copy .h3c span {
  color: #666;
}
.footer .wrap .copy .h3c1 {
  color: #666;
  width: 590px;
  height: 24px;
  float: left;
  line-height: 24px;
}
.footer .wrap .copy .h3c1 a {
  color: #666;
  float: right;
  padding-right: 191px;
}
.footer .wrap .copy .h3c1 span {
  color: #666;
}
.footer .wrap .copy .h3c2 {
  color: #666;
  width: 590px;
  height: 24px;
  float: left;
  line-height: 24px;
}
.footer .wrap .copy .h3c2 a {
  color: #666;
}
.footer .wrap .copy .h3c2 span {
  color: #666;
}
.footer .wrap .copy .h3c3 {
  color: #666;
  width: 590px;
  height: 24px;
  float: left;
  line-height: 24px;
}
.footer .wrap .copy .h3c3 a {
  color: #666;
  float: right;
  padding-right: 248px;
}
.footer .wrap .copy .h3c3 span {
  color: #666;
}
.footer .spir {
  width: 330px;
  height: 70px;
  float: right;
}
